<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='superadmin.js') }}"></script>
    <link href="{{ url_for('static', filename='superadmin.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Superadmin Dashboard</title>
</head>
<body>
    <button class="menu-btn">☰ Menu</button>

    <div class="sidebar" id="sidebar">
        <div>
            <h2>Superadmin</h2>
            <a href="{{ url_for('superadmin') }}">Manage Users</a>
            <a href="{{ url_for('attendance_report')}}">Attendance Records</a>
        </div>
        <button id="logoutBtn">Logout</button>
    </div>
    <div class="content">
        <h1>Dashboard Overview</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages[0] %}
                {% for category, message in messages %}
                    {% if category == "error" %}
                    <div class="alert alert-error" role="alert">
                    {% else %}
                    <div class="alert alert-success" role="alert">
                    {% endif %}
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}

    </div>
</body>
</html>
